@import "./partials/resets";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/spacings";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/animations";

body {
  font-family: $font-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000200;
  color: $text-color;
  padding-inline: 2rem;
  nav {
    a {
      color: $text-color;
      text-decoration: none;
      padding-left: 2em;
      font-size: 1.2em;
    }
  }
}

.logo img {
  width: 10%;
  display: flex;
  padding: 0.2em 0em;
}

.hero {
  background-color: $purple;
  color: $text-color;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  min-height: 50vh;

  .content-area {
    h1 {
      font-size: 3em;
    }
    max-width: 800px;
  }
  .img-area {
    img {
      width: 500px;
      @include floating(5px, 0 6px 10px rgb(0 0 0/ 30%), 1px solid #ffffff);
    }
  }
}

.grid-section {
  display: flex;
  flex-wrap: wrap;
  div {
    border: 1px solid rgb(153, 47, 47);
    width: 50%;
  }
}

.grid-item img {
  max-width: 100%;
}
